footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.8em;
  text-align: center;
  color:white;
  font-size: 1rem;
  font-weight: 400;
}

.darkTheme {
  color: white;
}
.lightTheme {
  color: black;
}
