<div class="segment">
  <div class="a-container container-fb" (click)="this.navToEventsSite('football')">
    <img src="../../assets/football.jpg" alt="Italian Trulli" class="image">
    <div class="middle">
      <div class="text-fb text">Football</div>
    </div>
  </div>
  <div class="a-container container-bb" (click)="this.navToEventsSite('basketball')">
    <img src="../../assets/basketball.jpg" alt="Italian Trulli" class="image">
    <div class="middle">
      <div class="text-bb text">Basketball</div>
    </div>
  </div>
  <div class="a-container container-vb" (click)="this.navToEventsSite('volleyball')">
    <img src="../../assets/volleyball.jpg" alt="Italian Trulli" class="image">
    <div class="middle">
      <div class="text-vb text">Volleyball</div>
    </div>
  </div>
  <div clickable class="a-container container-s" (click)="this.navToEventsSite('skiing')">
    <img src="../../assets/skiing.jpg" alt="Italian Trulli" class="image">
    <div class="middle">
      <div class="text-s text">Skiing</div>
    </div>
  </div>
</div>
